## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,2022-06-02 18:38:12,-54.8000,-68.3000,37.06,65,0,1.14,clear sky
1,1,Aljezur,PT,2022-06-02 18:42:40,37.3191,-8.8033,66.40,76,5,9.24,clear sky
2,2,Punta Arenas,CL,2022-06-02 18:42:40,-53.1500,-70.9167,41.11,75,20,13.80,few clouds
3,3,Oksfjord,NO,2022-06-02 18:42:41,70.2396,22.3479,62.01,48,82,5.73,broken clouds
4,4,Hirara,JP,2022-06-02 18:42:41,24.8000,125.2833,81.46,88,93,11.48,moderate rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 0
What is your desired maximum temperature for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,2022-06-02 18:38:12,-54.8000,-68.3000,37.06,65,0,1.14,clear sky
1,1,Aljezur,PT,2022-06-02 18:42:40,37.3191,-8.8033,66.40,76,5,9.24,clear sky
2,2,Punta Arenas,CL,2022-06-02 18:42:40,-53.1500,-70.9167,41.11,75,20,13.80,few clouds
3,3,Oksfjord,NO,2022-06-02 18:42:41,70.2396,22.3479,62.01,48,82,5.73,broken clouds
4,4,Hirara,JP,2022-06-02 18:42:41,24.8000,125.2833,81.46,88,93,11.48,moderate rain
5,5,Broome,US,2022-06-02 18:42:42,42.2506,-75.8330,76.69,57,0,5.75,clear sky
6,6,Vaini,TO,2022-06-02 18:42:42,-21.2000,-175.2000,75.36,94,75,3.44,broken clouds
7,7,Ewa Beach,US,2022-06-02 18:42:42,21.3156,-158.0072,78.75,68,75,9.22,broken clouds
8,8,Ratnagiri,IN,2022-06-02 18:42:43,16.9833,73.3000,82.60,80,100,6.85,overcast clouds
9,9,Yerbogachen,RU,2022-06-02 18:42:43,61.2767,108.0108,54.52,60,100,5.10,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                714
City                   714
Country                708
Date                   714
Lat                    714
Lng                    714
Max Temp               714
Humidity               714
Cloudiness             714
Wind Speed             714
Current Description    714
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,2022-06-02 18:38:12,-54.8000,-68.3000,37.06,65,0,1.14,clear sky
1,1,Aljezur,PT,2022-06-02 18:42:40,37.3191,-8.8033,66.40,76,5,9.24,clear sky
2,2,Punta Arenas,CL,2022-06-02 18:42:40,-53.1500,-70.9167,41.11,75,20,13.80,few clouds
3,3,Oksfjord,NO,2022-06-02 18:42:41,70.2396,22.3479,62.01,48,82,5.73,broken clouds
4,4,Hirara,JP,2022-06-02 18:42:41,24.8000,125.2833,81.46,88,93,11.48,moderate rain
...,...,...,...,...,...,...,...,...,...,...,...
712,712,Tete,MZ,2022-06-02 19:02:41,-16.1564,33.5867,67.15,60,14,6.29,few clouds
713,713,Aksaray,TR,2022-06-02 19:02:41,38.3726,34.0254,71.58,57,3,8.81,clear sky
714,714,Yambio,SS,2022-06-02 19:02:41,4.5721,28.3955,68.59,95,78,2.13,broken clouds
715,715,Mingaora,PK,2022-06-02 18:58:43,34.7758,72.3625,71.78,34,5,8.16,clear sky
716,716,Muniz Freire,BR,2022-06-02 19:02:42,-20.4642,-41.4131,78.85,54,4,1.21,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# 5b. Create a new column "Hotel Name"
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,37.06,clear sky,-54.8000,-68.3000,
1,Aljezur,PT,66.40,clear sky,37.3191,-8.8033,
2,Punta Arenas,CL,41.11,few clouds,-53.1500,-70.9167,
3,Oksfjord,NO,62.01,broken clouds,70.2396,22.3479,
4,Hirara,JP,81.46,moderate rain,24.8000,125.2833,
5,Broome,US,76.69,clear sky,42.2506,-75.8330,
6,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
7,Ewa Beach,US,78.75,broken clouds,21.3156,-158.0072,
8,Ratnagiri,IN,82.60,overcast clouds,16.9833,73.3000,
9,Yerbogachen,RU,54.52,overcast clouds,61.2767,108.0108,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

<bound method NDFrame.head of              City Country  Max Temp Current Description      Lat       Lng  \
0         Ushuaia      AR     37.06           clear sky -54.8000  -68.3000
1         Aljezur      PT     66.40           clear sky  37.3191   -8.8033
2    Punta Arenas      CL     41.11          few clouds -53.1500  -70.9167
3        Oksfjord      NO     62.01       broken clouds  70.2396   22.3479
4          Hirara      JP     81.46       moderate rain  24.8000  125.2833
..            ...     ...       ...                 ...      ...       ...
712          Tete      MZ     67.15          few clouds -16.1564   33.5867
713       Aksaray      TR     71.58           clear sky  38.3726   34.0254
714        Yambio      SS     68.59       broken clouds   4.5721   28.3955
715      Mingaora      PK     71.78           clear sky  34.7758   72.3625
716  Muniz Freire      BR     78.85           clear sky -20.4642  -41.4131

                         Hotel Name
0                   Albatross Hotel
1                    Amazigh Hostel
2                        Hotel Hain
3
4    Hotel Atoll Emerald Miyakojima
..                              ...
712      Zambeze Paraíso Misterioso
713            Kuzucular Park Hotel
714                  Naivasha Hotel
715                    Burj Al Swat
716                   Hotel Almeida

[714 rows x 7 columns]>

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,37.06,clear sky,-54.8000,-68.3000,Albatross Hotel
1,Aljezur,PT,66.40,clear sky,37.3191,-8.8033,Amazigh Hostel
2,Punta Arenas,CL,41.11,few clouds,-53.1500,-70.9167,Hotel Hain
4,Hirara,JP,81.46,moderate rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
5,Broome,US,76.69,clear sky,42.2506,-75.8330,Chenango Valley State Park

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))